@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* 1rem=10px*/ }

body {
  font-family: 'Work Sans', sans-serif; }

.menuButton {
  color: #333333;
  background-color: #E5E5E5;
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
  border: none;
  border-radius: 3rem;
  padding: 0.8rem 1.8rem;
  text-align: center;
  display: inline-block;
  cursor: pointer; }
  .menuButton:hover {
    color: #333333;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    font-weight: 300;
    transition: all 0.3 ease 0; }

.designButton {
  background-color: #E5E5E5;
  border: none;
  font-weight: 300;
  color: #333333;
  padding: 0.8rem 1.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  font-family: 'Work Sans', sans-serif;
  border-radius: 3rem;
  width: 14rem; }
  .designButton:hover {
    color: #333333;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    font-weight: 300;
    transition: all 0.3 ease 0; }

.thisisButton {
  background-color: #E5E5E5;
  border: none;
  font-weight: 300;
  color: #333333;
  padding: 0.8rem 1.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  font-family: 'Work Sans', sans-serif;
  border-radius: 3rem;
  width: 14rem; }
  .thisisButton:hover {
    color: #333333;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    font-weight: 300;
    transition: all 0.3 ease 0; }

/* ----------Animación-------- */
h1 {
  animation-duration: 2s;
  animation-name: aparecer; }

h2 {
  animation-duration: 2s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.video {
  padding: 0rem 0rem; }

main {
  background-color: #ffffff;
  height: auto;
  width: 100%;
  padding: 8rem 14rem; }
  main h1 {
    color: #333333;
    font-size: 4.2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    line-height: 5rem;
    text-align: left;
    margin-top: 0; }
    main h1 .titleHighlight {
      font-weight: 500; }
  main h2 {
    color: #333333;
    font-size: 4.2rem;
    font-weight: 300;
    letter-spacing: 0rem;
    line-height: 6rem;
    text-align: left;
    margin-top: 0;
    padding-top: 2rem; }
    main h2 .titleHighlight {
      font-weight: 500; }

.whyDesign #whyDesignImage {
  width: 60rem;
  height: 30rem; }

.whyDesign #whyDesignText h3 {
  color: #333333;
  font-size: 2.6rem;
  line-height: 3rem; }

.whyDesign #whyDesignText p {
  font-size: 1.8rem;
  color: #333333;
  line-height: 2.5rem;
  letter-spacing: 0rem;
  font-weight: 400; }

.thisis #thisisImage {
  width: 60rem;
  height: 30rem; }

.thisis #thisisText h3 {
  color: #333333;
  font-size: 2.6rem;
  line-height: 3rem; }

.thisis #thisisText p {
  font-size: 1.8rem;
  color: #333333;
  line-height: 2.5rem;
  letter-spacing: 0rem;
  font-weight: 400; }

/* ------------------- Grids index ------------------*/
.whyDesign {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "whyDesignImage whyDesignText";
  padding: 5rem 14rem;
  align-items: center; }

#whyDesignImage {
  grid-area: whyDesignImage;
  justify-self: start; }

#whyDesignText {
  grid-area: whyDesignText;
  justify-self: start;
  padding-left: 2rem; }
  #whyDesignText p {
    padding: 2rem 0rem; }

.thisis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "thisisText ThisisImage";
  padding: 5rem 14rem;
  align-items: center; }

#thisisText {
  grid-area: thisisText;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2rem; }
  #thisisText p {
    padding: 2rem 0rem;
    text-align: right; }

#thisisImage {
  grid-area: ThisisImage;
  justify-self: end; }

@media only screen and (max-width: 768px) {
  header {
    padding: 0.5rem 7.5rem; }
  main {
    height: auto;
    width: 100%;
    padding-left: 10rem; }
  .whyDesign {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "whyDesignImage" "whyDesignText";
    padding: 0rem 0rem;
    align-items: center; }
  #whyDesignImage {
    grid-area: whyDesignImage;
    justify-self: center; }
  #whyDesignText {
    grid-area: whyDesignText;
    justify-self: left;
    padding: 1rem 10rem; }
    #whyDesignText p {
      padding: 2rem 0rem; }
  .thisis {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "ThisisImage" "thisisText";
    padding: 5rem 10rem;
    align-items: center; }
    .thisis p {
      padding: 2rem 0rem; }
  #thisisText {
    grid-area: thisisText;
    justify-self: center;
    padding: 1rem 0rem; }
  #thisisImage {
    grid-area: ThisisImage;
    justify-self: center; } }

@media only screen and (max-width: 426px) {
  header {
    padding: 0.5rem 2rem; }
  main {
    height: auto;
    width: 100%;
    padding: 0rem 6rem; }
    main h1 {
      font-size: 4.2rem;
      line-height: 4rem;
      letter-spacing: 1rem; }
    main h2 {
      font-size: 3rem;
      line-height: 4rem;
      letter-spacing: 0.7rem; }
  .whyDesign {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "whyDesignImage" "whyDesignText";
    padding: 1rem 1rem;
    align-items: center; }
    .whyDesign p {
      padding: 2rem 0rem; }
  #whyDesignImage {
    grid-area: whyDesignImage;
    justify-self: center;
    width: 90vw !important;
    height: auto !important;
    padding: 0rem 0.5rem; }
  #whyDesignText {
    grid-area: whyDesignText;
    justify-self: center;
    padding: 1rem 0.5rem; }
  .thisis {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "ThisisImage" "thisisText";
    padding: 1rem 1rem;
    align-items: center; }
    .thisis p {
      padding: 2rem 0rem; }
  #thisisText {
    grid-area: thisisText;
    justify-self: center;
    padding: 1rem 0.5rem; }
  #thisisImage {
    grid-area: ThisisImage;
    justify-self: center;
    width: 90vw !important;
    height: auto !important; }
  footer {
    font-size: 0.4rem; }
    footer #logotype {
      padding-left: 2rem; }
    footer #social {
      padding: 0rem 2rem; }
  .portfolio .portfolioCards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "explora" "designit" "academia"; }
  .portfolio .explora {
    grid-area: explora; }
  .portfolio .designit {
    grid-area: designit; }
  .portfolio .academia {
    grid-area: academia; } }

@media only screen and (max-width: 768px) {
  header {
    padding: 0.5rem 7.5rem; }
  main {
    height: auto;
    width: 100%;
    padding-left: 10rem; }
  .whyDesign {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "whyDesignImage" "whyDesignText";
    padding: 0rem 0rem;
    align-items: center; }
  #whyDesignImage {
    grid-area: whyDesignImage;
    justify-self: center; }
  #whyDesignText {
    grid-area: whyDesignText;
    justify-self: left;
    padding: 1rem 10rem; }
    #whyDesignText p {
      padding: 2rem 0rem; }
  .thisis {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "ThisisImage" "thisisText";
    padding: 5rem 10rem;
    align-items: center; }
    .thisis p {
      padding: 2rem 0rem; }
  #thisisText {
    grid-area: thisisText;
    justify-self: center;
    padding: 1rem 0rem; }
  #thisisImage {
    grid-area: ThisisImage;
    justify-self: center; } }

@media only screen and (max-width: 426px) {
  header {
    padding: 0.5rem 2rem; }
  main {
    height: auto;
    width: 100%;
    padding: 0rem 6rem; }
    main h1 {
      font-size: 4.2rem;
      line-height: 4rem;
      letter-spacing: 1rem; }
    main h2 {
      font-size: 3rem;
      line-height: 4rem;
      letter-spacing: 0.7rem; }
  .whyDesign {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "whyDesignImage" "whyDesignText";
    padding: 1rem 1rem;
    align-items: center; }
    .whyDesign p {
      padding: 2rem 0rem; }
  #whyDesignImage {
    grid-area: whyDesignImage;
    justify-self: center;
    width: 90vw !important;
    height: auto !important;
    padding: 0rem 0.5rem; }
  #whyDesignText {
    grid-area: whyDesignText;
    justify-self: center;
    padding: 1rem 0.5rem; }
  .thisis {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "ThisisImage" "thisisText";
    padding: 1rem 1rem;
    align-items: center; }
    .thisis p {
      padding: 2rem 0rem; }
  #thisisText {
    grid-area: thisisText;
    justify-self: center;
    padding: 1rem 0.5rem; }
  #thisisImage {
    grid-area: ThisisImage;
    justify-self: center;
    width: 90vw !important;
    height: auto !important; }
  footer {
    font-size: 0.4rem; }
    footer #logotype {
      padding-left: 2rem; }
    footer #social {
      padding: 0rem 2rem; }
  .portfolio .portfolioCards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "explora" "designit" "academia"; }
  .portfolio .explora {
    grid-area: explora; }
  .portfolio .designit {
    grid-area: designit; }
  .portfolio .academia {
    grid-area: academia; } }

.services {
  padding: 4rem 14rem; }
  .services h1 {
    color: #333333;
    font-size: 4.2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    line-height: 5rem;
    text-align: left; }
  .services p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 0rem; }

.serviceTable {
  text-align: left; }
  .serviceTable th {
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 0.7rem 0rem; }
  .serviceTable td {
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 0rem; }
  .serviceTable .serviceTableHead {
    padding-right: 15rem; }

.blog {
  padding: 4rem 14rem;
  color: #333333;
  font-size: 4.2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  line-height: 5rem;
  text-align: left; }

/*----------------- Grids Blog --------------------*/
.blogArticles {
  display: grid;
  font-family: 'Work Sans', sans-serif;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". first second ." ". third fourth .";
  justify-items: start;
  padding: 0rem 18rem;
  grid-column-gap: 2rem;
  grid-row-gap: 6rem; }

.firstBlog {
  grid-area: first; }

.secondBlog {
  grid-area: second; }

.thirdBlog {
  grid-area: third; }

.fourthBlog {
  grid-area: fourth; }

/*----------------- First article Grids Blog --------------------*/
.firstBlog {
  display: grid;
  font-family: 'Work Sans', sans-serif;
  grid-template-columns: 1fr;
  grid-template-rows: 23rem 2rem 5rem 2rem;
  grid-template-areas: "image" "date" "title" "button";
  justify-items: start;
  padding: 0rem 10rem; }

.firstBlogImage {
  grid-area: image; }

.firstBlogDate {
  grid-area: date;
  font-size: 1.4rem;
  color: #333333;
  font-weight: normal; }

.firstBlogTitle {
  grid-area: title;
  font-size: 1.8rem;
  color: #333333; }

.firstBlogButton {
  grid-area: button;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  color: #5D5FEF;
  border: none;
  background-color: #ffffff; }

.firstBlogButton:hover {
  font-weight: bold; }

/*----------------- Second article Grids Blog --------------------*/
.secondBlog {
  display: grid;
  font-family: 'Work Sans', sans-serif;
  grid-template-columns: 1fr;
  grid-template-rows: 23rem 2rem 5rem 2rem;
  grid-template-areas: "image" "date" "title" "button";
  justify-items: start;
  padding: 0rem 10rem; }

.secondBlogImage {
  grid-area: image; }

.secondBlogDate {
  grid-area: date;
  font-size: 1.4rem;
  color: #333333;
  font-weight: normal; }

.secondBlogTitle {
  grid-area: title;
  font-size: 1.8rem;
  color: #333333; }

.secondBlogButton {
  grid-area: button;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  color: #5D5FEF;
  border: none;
  background-color: #ffffff; }

.secondBlogButton:hover {
  font-weight: bold; }

/*----------------- Third article Grids Blog --------------------*/
.thirdBlog {
  display: grid;
  font-family: 'Work Sans', sans-serif;
  grid-template-columns: 1fr;
  grid-template-rows: 23rem 2rem 5rem 2rem;
  grid-template-areas: "image" "date" "title" "button";
  justify-items: start;
  padding: 0rem 10rem; }

.thirdBlogImage {
  grid-area: image; }

.thirdBlogDate {
  grid-area: date;
  font-size: 1.4rem;
  color: #333333;
  font-weight: normal; }

.thirdBlogTitle {
  grid-area: title;
  font-size: 1.8rem;
  color: #333333; }

.thirdBlogButton {
  grid-area: button;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  color: #5D5FEF;
  border: none;
  background-color: #ffffff; }

.thirdBlogButton:hover {
  font-weight: bold; }

/*----------------- fourth article Grids Blog --------------------*/
.fourthBlog {
  display: grid;
  font-family: 'Work Sans', sans-serif;
  grid-template-columns: 1fr;
  grid-template-rows: 23rem 2rem 5rem 2rem;
  grid-template-areas: "image" "date" "title" "button";
  justify-items: start;
  padding: 0rem 10rem; }

.fourthBlogImage {
  grid-area: image; }

.fourthBlogDate {
  grid-area: date;
  font-size: 1.4rem;
  color: #333333;
  font-weight: normal; }

.fourthBlogTitle {
  grid-area: title;
  font-size: 1.8rem;
  color: #333333; }

.fourthBlogButton {
  grid-area: button;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  color: #5D5FEF;
  border: none;
  background-color: #ffffff; }

.fourthBlogButton:hover {
  font-weight: bold; }

header {
  background-color: #333333;
  padding: 0.5rem 14rem;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  /* Capas como illustrator, hace que el menu este por encima de todo */ }
  header a .logo {
    background-color: #E5E5E5; }
    header a .logo:hover {
      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); }
  header nav {
    background-color: #333333; }
    header nav li {
      list-style: none;
      padding: 0.5rem 2rem; }
      header nav li a {
        color: #E5E5E5;
        font-size: 1.6rem;
        font-weight: 300;
        text-decoration: none;
        align-items: baseline;
        /*Alinear items de nav*/ }
        header nav li a:hover {
          color: #66FFCC;
          transition: all 0.3 ease 0; }

.logo {
  cursor: pointer; }

footer {
  background-color: #333333; }
  footer ul {
    height: 10rem;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo social";
    align-items: center; }
    footer ul hr {
      background-color: aquamarine; }
    footer ul li {
      list-style: none;
      display: inline; }
      footer ul li a {
        color: #E5E5E5;
        font-size: 1.6rem;
        font-weight: 300;
        text-decoration: none; }
        footer ul li a:hover {
          color: #66FFCC; }

#logotype {
  grid-area: logo;
  justify-self: start;
  padding-left: 14rem; }
  #logotype li {
    color: #E5E5E5;
    font-size: 1.6rem;
    font-weight: 300; }

#social {
  grid-area: social;
  justify-self: end;
  padding: 0rem 14rem;
  color: #E5E5E5; }
  #social #mail {
    padding-left: 1.5rem; }
  #social #face {
    padding-left: 1.5rem; }
  #social:hover {
    color: #66FFCC; }

.portfolio {
  padding: 4rem 14rem; }
  .portfolio h1 {
    color: #333333;
    font-size: 4.2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    line-height: 5rem;
    text-align: left;
    padding-bottom: 4rem; }
  .portfolio p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 0rem; }
  .portfolio .portfolioCards {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0rem;
    line-height: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "explora designit academia"; }
  .portfolio .explora {
    grid-area: explora; }
  .portfolio .designit {
    grid-area: designit; }
  .portfolio .academia {
    grid-area: academia; }

.error {
  width: 100vw; }
