.blog{
    padding: $up-padding $sides-padding;
    color: $dark-color;
    font-size: $h1;
    font-weight: $h1-bold;
    letter-spacing: $h1-spacing;
    line-height: $h1-line-height;
    text-align: center;
}

/*----------------- flex Blog --------------------*/

.blogArticles{
    display: grid;
    font-family:'Work Sans', sans-serif ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:0rem $sides-padding;
    margin: 0rem 6rem;
}
/*----------------- First article Grids Blog --------------------*/

.Blog{
    display:grid;
    font-family:'Work Sans', sans-serif ;
    grid-template-columns: 1fr;
    grid-template-rows: 23rem 2rem 5rem 2rem;
    grid-template-areas: 
    "image"
    "date"
    "title"
    "button"
    ;
    justify-items: start;
    padding-top: $bpadding-top;
    padding-right: $bpadding-right;
    padding-bottom: $bpadding-bottom;
    padding-left: $bpadding-left;
}

.BlogImage{
    grid-area: image;
}

.BlogDate{
    grid-area: date;
    font-size: $h5;
    color: $dark-color;
    font-weight: $h5-font-weight;
}

.BlogTitle{
    grid-area: title;
    font-size: $p;
    color: $dark-color;
}

.BlogButton{
    grid-area: button;
    font-family:'Work Sans', sans-serif ;
    font-size: $p;
    color: $main-color;
    border: none;
    background-color: #ffffff;

    &:hover{
        font-weight: bold;
    }
}

