.menuButton {
    color: $dark-color;
    background-color: $light-color;
    font-size: $pmenu;
    font-weight: $p-font-weight-menu;
    text-decoration: none;
    border: none;
    border-radius: $bb-radius;
    padding: $b-up-padding $b-sides-padding;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    
    

    &:hover{
        color: $dark-color;
        background-image: $degrade;
        font-weight: $p-font-weight-menu;
        transition: all 0.3 ease 0;
    }
}

.contactButton {
    background-color: $light-color; 
    border: none;
    font-weight: $p-font-weight-menu;
    color: $dark-color;
    padding: $b-up-padding $b-sides-padding;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $pmenu;
    font-family: 'Work Sans', sans-serif;
    border-radius: $bb-radius;
    width: $b-width;

    &:hover{
        color: $dark-color;
        background-image: $degrade;
        font-weight:  $p-font-weight-menu;
        transition: all 0.3 ease 0;
    }
}

.thisisButton {
    background-color: $light-color; 
    border: none;
    font-weight: $p-font-weight-menu;
    color: $dark-color;
    padding: $b-up-padding $b-sides-padding;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $pmenu;
    font-family: 'Work Sans', sans-serif;
    border-radius: $bb-radius;
    width: $b-width;

    &:hover{
        color: $dark-color;
        background-image: $degrade;
        font-weight:  $p-font-weight-menu;
        transition: all 0.3 ease 0;
    }
}
