// font-size
$h1: 4.2rem;
$h2: 3rem;
$h3: 2.6rem;
$p: 1.6rem;

// h1
$h1-spacing: 1.6rem;
$h1-line-height: 5rem;
$h1-weight: 400;
$h1-bold: 500;

// Responsive
$h1R: 4.2rem;
$h1R-spacing: 1rem;
$h1R-line-height: 4rem;
$h1R-weight: 400;
$h1R-bold: 500;

// h2
$h2-spacing: 0.1rem;
$h2-line-height: 5rem;
$h2-weight: 400;
$h2-bold: 200;

// Responsive
$h2R: 3rem;
$h2R-spacing: 0.7rem;
$h2R-line-height: 4rem;
$h2R-weight: 400;
$h2R-bold: 500;

// h3
$h3-spacing: 1rem;
$h3-line-height: 2rem;
$h3-weight: 300;
$h3-bold: 500;

// p
$p-spacing: 5.5%;
$p-line-height: 2.5rem;
$p-font-weight: 400;
$p-bold: 500;
