@import "font";

/* ----------Animación-------- */


h1{
    animation-duration: 2s;
    animation-name: aparecer
}

h2{
    animation-duration: 2s;
    animation-name: aparecer 
}

@keyframes aparecer{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.video{
    padding: 0rem 0rem;
}

main{
    background-color: #ffffff;
    height: auto;
    width: 100%;
    padding: $main-up-padding $sides-padding;

    h1{
        color: $dark-color;
        font-size: $h1;
        font-weight: $h1-weight;
        letter-spacing: $h1-spacing;
        line-height: $h1-line-height;
        text-align: left;
        margin-top: 0 ;

        .titleHighlight{
            font-weight: $h1-bold;

        }
    }

    h2{
        color: $dark-color;
        font-size: $h2;
        font-weight: $h2-weight;
        letter-spacing: $h2-spacing;
        line-height: $h2-line-height;
        text-align: left;
        margin-top: 0 ;
        padding-top: 2rem;


        .titleHighlight{
            font-weight: $h1-bold;
        }
    }
}

.designWorks{
    padding-top: $up-padding;
    padding-bottom: $up-padding;
    padding-left: $sides-padding;
    padding-right: 0rem;
    // display: flex;
	// flex-direction: row;
    // flex-wrap: nowrap;
	// height: 700px;
	// justify-content: center;
	// align-items: flex-start;
	// overflow-y: auto;
    position: relative;

    // .left {
    //     width: 70%;
    //     position: absolute;
    //     }
    }

    .right {
        padding-left: 30%;
        display:flex;
        color: $dark-color;
        font-size: $p;
        text-align: left;
        padding-top: 0rem;
        justify-content: end;
    }

    #sticky-div{
        position: sticky;
        width: 30%;
        top: 10rem;
        color: $dark-color;
        font-size: 3.5rem;
        font-weight: $h2-bold;
        letter-spacing: $h2-spacing;
        line-height: $h2-line-height;
        text-align: left;
        // margin-top: 0 ;
        // padding-top: 0rem;
        text-decoration: underline;
    }

    #sticky-div2{
        position: sticky;
        width: 27%;
        top: 10rem;
        color: $dark-color;
        background-color: #ffffff;
        font-size: 3.5rem;
        font-weight: $h2-bold;
        letter-spacing: $h2-spacing;
        line-height: $h2-line-height;
        text-align: left;
        // margin-top: 0 ;
        // padding-top: 0rem;
        text-decoration: underline;
        z-index: 9;
    }







@import "MediaQ";