@media only screen and (max-width: 1024px)
{
    header{
        padding: $menu-padding $sides-padding-tablet;
    }

    main{
        height: auto;
        width: 100%;
        padding: $up-padding-tablet $sides-padding-tablet;
    }

.designWorks{
    padding: $up-padding-tablet $sides-padding-tablet;
    position: relative;

    .right {
        width: 100%;
        color: $dark-color;
        font-size: $p;
        text-align: left;
        padding-top: 2rem;
        justify-self: center;

        img{
            width: 100%;
        }
    }
}

    footer{

        #logotype{
            padding-left: $sides-padding-tablet;
        }

        #social {
            padding: 0rem $sides-padding-tablet;
        }
    }

    .services{
        padding: $up-padding-mobile $sides-padding-mobile;
    }

    .portfolio{
        padding: $up-padding-mobile $sides-padding-mobile;
    }
    
}


@media only screen and (max-width: 768px)
{
    header{
        padding: $menu-padding $sides-padding-tablet;
    }

    main{
        height: auto;
        width: 100%;
        padding: $up-padding-tablet $sides-padding-tablet;
    }

    .designWorks{
        padding: $up-padding-tablet $sides-padding-tablet;
        position: relative;
    
        .right {
            width: 100%;
            color: $dark-color;
            font-size: $p;
            text-align: left;
            padding-top: 2rem;
            justify-self: center;
    
            img{
                width: 100%;
            }
        }
    }

    footer{

        #logotype{
            padding-left: $sides-padding-tablet;
        }

        #social {
            padding: 0rem $sides-padding-tablet;
        }
    }

    .services{
        padding: $up-padding-tablet $sides-padding-tablet;
    }

    .portfolio{
        padding: $up-padding-tablet $sides-padding-tablet;
    }
}





@media only screen and (max-width: 426px)
{

    header{
        padding: $menu-padding $sides-padding-mobile;
    }

    main{
        height: auto;
        width: 100%;
        padding: 6rem $sides-padding-mobile;

            h1{
                font-size: $h1R;
                line-height: $h1R-line-height;
                letter-spacing: $h1R-spacing;
            }

            h2{
                font-size: $h2R;
                line-height: $h2R-line-height;
                letter-spacing: $h2R-spacing;
            }
    }

    .designWorks{
        padding: $down-padding;
        padding-left: $sides-padding-mobile;
        padding-right: 0rem;
        position: relative;
    
        .right {
            width: 100%;
            padding-left: 0rem;
            padding-right: 0rem;
            color: $dark-color;
            font-size: $p;
            text-align: left;
            padding-top: 0rem;
            justify-content: center;
    
            img{
                width: 100%;
                padding-top: 0rem;
            }
        }

        #sticky-div{
            position: absolute;
            width: 90%;
            top: -4rem;

            }

        #sticky-div2{
            position: relative;
            width: 100%;
            top: 0rem;
            }
    }


    footer{
        font-size: 0.5rem;

        #logotype{
            padding-left: 0rem;
            justify-self: center;

        }
        
        #social{
            padding: 0rem 0rem;
            justify-self: center;
        }

        ul{
            height: 10rem;
            text-align: center;
            font-family:'Work Sans', sans-serif ;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "logo"
            "social"
            ;
            align-items: center;
        }
    }

    .portfolio{
        padding: $up-padding-mobile 0rem;

        h1{
            text-align: left;
            padding: 0rem $sides-padding;
        }
        .portfolioCards{
            margin: 10px 0px;

            .polaroid{
                width: 400px;
                height: auto;
            }
        }
    }

    .blogArticles{
        padding:0rem $sides-padding-mobile;
        margin: 0rem 0rem;

        .Blog{
            grid-template-rows: 20rem 2rem 5rem 2rem;
            padding-top: $bpadding-top;
            padding-right: $bpadding-top;
            padding-bottom: $bpadding-bottom;
            padding-left: $bpadding-top;

            .BlogImage{
                width: 100%;
            }
        }

    }

    // .contactUs{
    //     .contact-details{
    //         .input{
    //             width: 12rem;
    //         }
    //     }
    // }
}


