header{ 
    background-color: $dark-color;
    padding: 0.5rem 15rem;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    // height: 5.5rem;   /*altura header */
    


    nav{
        background-color: $dark-color;


        #navbarNav{
            align-items: baseline; /*Alinear items de nav*/
        }
        
        li{
            list-style: none;
            // display: inline-block;  /*items side by side*/
            padding: 0px 2rem;

            a{
                color: $light-color;
                font-size: $p;
                font-weight: $p-font-weight;
                text-decoration: none;


                &:hover{
                    color: $secundary-color;
                    transition: all 0.3 ease 0;
                }
            }
        }
    }
} 

.logo{
    cursor: pointer;
}