header{ 
    background-color: $dark-color;
    padding: $menu-padding $sides-padding;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10; /* Capas como illustrator, hace que el menu este por encima de todo */

    a{
        .logo{
            background-color: $light-color;

            &:hover{
            background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
            }

        }
    }
    


    nav{
        background-color: $dark-color;
        
        li{
            list-style: none;
            // display: inline-block;  /*items side by side*/
            padding: $menu-padding $list-padding;

            a{
                color: $light-color;
                font-size: $pmenu;
                font-weight: $p-font-weight-menu;
                text-decoration: none;
                align-items: baseline; /*Alinear items de nav*/

                &:hover{
                    color: $secundary-color;
                    transition: all 0.3 ease 0;
                }

            }
        }
    }
} 

.logo{
    cursor: pointer;
}