@import "MediaQ";


.portfolio{

    padding: $up-padding $sides-padding;

    h1{
        color: $dark-color;
        font-size: $h1;
        font-weight: $h1-bold;
        letter-spacing: $h1-spacing;
        line-height: $h1-line-height;
        text-align: center;
        padding-bottom: $down-padding;
    }

    p{
        font-size: $p;
        line-height: $p-line-height;
        letter-spacing: $p-spacing;
    }

    .portfolioCards{
        font-family:'Work Sans', sans-serif ;
        font-size: $p;
        font-weight: $p-font-weight;
        letter-spacing: $p-spacing;
        line-height: $p-line-height;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px 70px;
        justify-content: center;

        .polaroid{
            margin: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            overflow: hidden;
            width: 400px;
            height: 425px;
            border-radius: 20px;
            

            .figure{
                .image-none{
                    opacity: 0;
                }

                background-image: url(../Media/DesignitPortada.png);

                &:hover{
                    background-image: url(../Media/Designitgif.gif);
                }
            }

            .figure-2{
                .image-none{
                    opacity: 0;
                }

                background-image: url(../Media/ExploraPortada.png);

                &:hover{
                    background-image: url(../Media/Exploragif.gif);
                }
            }

            .figure-3{
                .image-none{
                    opacity: 0;
                }

                background-image: url(../Media/LocalPortada.png);

                &:hover{
                    background-image: url(../Media/Localgif.gif);
                }
            }

            .container{
                padding: 10px;
            }

            &:hover{
                transform: scale(1.007, 1.007);
                width: 400px;
                height: 425px;
                box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                text-align: center;
                transition: 0.4s ease;
                // transform: translate(0.5);
            }
        }
    }
}
@import "footer";
