@import "font";

.services{

    padding: $up-padding $sides-padding;

    h1{
        color: $dark-color;
        font-size: $h1;
        letter-spacing: $h1-spacing;
        line-height: $h1-line-height;
        text-align: left;
        font-weight: $h1-bold;
        padding-bottom: $down-padding;
        text-align: center;
    }

    p{
        font-size: $p;
        line-height: $p-line-height;
        letter-spacing: $p-spacing;
    }
        
}


.serviceTable{
    text-align: left;
    

        th{

            font-size: $p;
            line-height: $p-line-height;
            padding: 0.7rem 0rem;
            font-weight: 800;
        }

        td{
            font-size: $p;
            line-height: $p-line-height;
            letter-spacing: $p-spacing;
        }

        .serviceTableHead{
            padding-right: 20rem;
        }
}







