
@import "colores";
@import "font";




@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;  /* 1rem=10px*/
}

body{
    font-family: 'Work Sans', sans-serif;
}


@import "buttons";
@import "index";
@import "services";
@import "blog";
@import "portfolio";
@import "menu";
@import "footer";
@import "MediaQ";
@import "contact";

.error{
    width: 100vw;
}


